.header {
  max-width: 1184px;
  margin: 0 auto;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  z-index: 100;
}

.logo {
  font-family: "Pacifico", cursive;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #f4c550;
}

/* NAV */

.nav {
  display: none;
}

.nav.open {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;

  margin: 0 auto;
  width: calc(100% - 32px);
  max-width: 500px;

  background: white;
  padding: 24px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.nav a {
  text-decoration: none;
  color: #121417;
  font-weight: 500;
}

/* ACTIONS */
.userBox {
  display: flex;
  gap: 15px;
  align-items: center;
}
.username {
  font-weight: 700;
  color: #0703fb;
}
.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.actions .login,
.actions .register {
  display: none;
}

/* LOGIN */

.login {
  background: transparent;
  border: 2px solid #f4c550;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

/* REGISTER */

.register {
  background: #121417;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

/* HAMBURGER */

.hamburger {
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

/* MOBILE ACTIONS */

.mobileActions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* BACKDROP */

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 50;
}

/* TABLET */

@media (min-width: 768px) {
  .header {
    padding: 20px 24px;
  }

  .logo {
    font-size: 18px;
  }

  .nav {
    display: flex;
    gap: 24px;
    position: static;
  }

  .nav.open {
    position: static;
    flex-direction: row;
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    width: auto;
  }

  .actions .login,
  .actions .register {
    display: inline-block;
  }

  .mobileActions {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .backdrop {
    display: none;
  }
}

/* DESKTOP */

@media (min-width: 1020px) {
  .header {
    padding: 24px 0;
  }

  .register {
    padding: 12px 20px;
  }
}
